doctype html
html(lang='ru')
html
    head
        link(rel="stylesheet", href="/public/css/main.css")
        script(src="./public/js/scores.js")

    body
        .wrapper
            .header
                div(class="header__title title") YOU LOOSE 
            button(class="btn" onclick="restart()") ПОПРОБОВАТЬ ЕЩЕ РАЗ